@import "normalize";

body {
  height: 100%;
}

#root {
  padding: 20px 20px 20px;
  height: 100%;
}

.radix-themes {
  background: var(--figma-color-bg) !important;
  min-height: 100% !important;
}

.main {
  padding-bottom: 20px;
}
